
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared style */

.display-flex{
    display: flex;
}

/* dark-01 */
.text-black{
   color: #131313;  
     
}
/* dark-02 */
.text-gray{
    color: #424242;
}

/* dark-03 */
.text-light-gray{
    color: #727272;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
     background-color: #FF900E;
     height: 64px;
     width: 180px;
     border-radius: 8px;
     color: white;
     font-size: 1.2rem;
     font-weight: 600;
   
}
main{
    max-width: 1440px;
    margin: 0px auto;
}
main>section{
    margin-top: 130px;
}
/* nav related styles */
.brand{
    font-size: 2.8rem;
    font-weight: bold;
}
.navbar,.banner{
    justify-content: space-between;
    align-items: center;
   
    max-width: 1440px;
      margin: 0px auto;
}
.nav-item{
    list-style: none;
    margin: 30px;
} 
.nav-link {
    text-decoration: none;
}

/* banner related style */
.banner-contant{
    max-width: 850px;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 30px;
}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
}
.banner-description{
    
    font-size: 1rem;
}
/* features related styles */
.features{
    gap: 146px;
}
#feature-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.feature-card-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
}
.feature-card-description{
    font-size: 1rem;
    font-weight: 400;
}
.variation-of-features{
    padding: 30px;
    margin-bottom: 20px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);

}
#experience-badge{
    width: 342px;
    height: 200px;
    padding: 45px;
    margin-left: -100px;
    margin-top: -100px;
}
#years{
    font-size: 4rem;
    font-weight: bold;
}



/* teams related styles */
 .teams{
    align-items: center;
    gap: 73px;
 }
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.our-features{
    width: 537px;
    height: 304px;
}
.feature-title{
    font-size: 2.9rem;
}
#text-color-1{
    color: #727272;
}
 
#text-color-3{
    color: #FF900E;
}

/* facts related styles */
.section-title{
    font-size: 2.9rem;
    font-weight: bold;
}
.section-description{
    max-width: 542px;
    font-size: 1rem;
    font-weight: 400;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 100px;
}
.fact{
    width: 240px;
    height: 240px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    justify-content: center;
    text-align: center;
    align-items: center;

}
.fact-number{
    font-size: 2.9rem;
    font-style: 600;
    margin-top: 5px;
    margin-bottom: 10px;

}
.fact-name{
    font-size: 1.25rem;
    margin-top: 5px;
}
 

/* sponsor related styles */



.sponsor-info{
    max-width: 542px;
     
    margin:  0px  auto;
    text-align: center;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-top:50px ;
    filter: grayscale(100%);
}


@media screen and (max-width :576px) {
    .navbar,.nav-links,.features{
        flex-direction: column;
    }
    .banner-image{
        width: 100%;
    }
    /* for features */
    #experience-badge{
        margin-top: 100px;
        margin-left: 100px;
    }
    .feature-img-and-btn>img{
        width: 100%;
    }
    
    /* for teams */
    .our-features{
        width: 100%;
        text-align: center;
    }
     
    .teams{
        flex-direction: column-reverse;
    }

    .team-img-container,.facts-container{
        grid-template-columns: repeat(1,1fr);
    }
    .section-title,.section-description{
        text-align: center;
    }
    .facts-container{
        justify-items: center;
        gap: 20px;

    }
    .sponsor-companies{
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
    }
}

@media screen and (min-width:576px) and (max-width:992px) {
    .navbar,.features{
        flex-direction: column;
    }

    .banner-image{
        width: 100%;
    }
    #experience-badge{
        margin-left: 100px;
        margin-top: 100px;
    }
    .feature-img-and-btn>img{
        width: 100%;
    }
    .teams{
        flex-direction: column-reverse;
    }
    .our-features{
        width: 100%;
        text-align: center;
    }
    .team-img-container{
        width: 100%;
    }
    .team-img-container>img{
        width: 100%;
    }
    .section-title,.section-description{
        margin: 10px auto;
        text-align: center;
         
    }
    .facts-container{
        grid-template-columns: repeat(2 ,1fr);
        justify-items: center;
        gap: 20px;
    }

    .sponsor-companies{
        grid-template-columns: repeat(3,1fr);
        justify-items: center;
    }
     
}